@import 'background-colors';
@import 'landing-section';

// GENERAL
.HomePage {
    display: flex;
    flex-direction: column;
    color: white;
}

.gradient {
    height: 15vh;
}

.section {
    min-height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-subtitle {
    font-size: 2em;
    text-align: center;
}

.HomePage a {
    color: white;

}
.section-title {
    font-family: $display-font;
}

.section-paragraphs {
    padding: 0 3%;
}


// WHAT
.what {
    .section-title,
    .section-description {
        width: 50%;
        text-align: center;
    }

    .section-description {
        padding: 0 2%;
    }
}


// IMMERSIVE
.immersive,
.questions {
    .section-title {
        padding: 0 10%;
        text-align: center;
    }
}

.immersive {
    flex-direction: column;
}

.immersive .section-description {
    display: flex;
}


//WHEN - WHERE
.when-where {
    display: flex;
}

.when-where .row {
    text-align: center;
    height: 15vh;
    width: 40vw;
}

// WHO

.who {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.who .section-text .section-subtitle {
    font-size: 1.8em;
    padding: 1.5% 0;
}

.who .section-text {
    padding: 2% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.who .row {
    display: flex;
    justify-content: space-between;
}

.who .grid {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-evenly;
    width: 100%;
    max-width: 700px;
}

// WHY

.why {
    direction: flex;
    flex-direction: column;
}

.why .section-title {
    text-align: right;
    width: 100%;
    padding-right: 20%;
}

.why .section-description {
    padding: 0 5%;
}

// QUESTIONS

.questions {
    flex-direction: column;
    padding-bottom: 6%;
}

.contact-form {
    display: flex;
    justify-content: center;
    width: 100%
}

.questions .contact-form form {
    display: flex;
    flex-direction: column;
    gap: .8em;
    width: 45%;
    min-width: 250px;

    input,
    textarea {
        font-family: $text-font;
        color: $color-1;
        background-color: transparent;
        font-size: 1em;
    }

    input {
        border-width: 0px;
        border-bottom: 2px solid $color-1;
    }

    textarea {
        border: 2px solid $color-1;
        width: 96%;
        padding: 2%;
    }

    input::placeholder,
    textarea::placeholder {
        color: $color-1;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    button {
        background-color: $color-1;
        color: white;
        font-family: $text-font;
        font-size: 1em;
        border: 0px;
        padding: 2%;
        border-radius: 5px;
        width: 10em;
        align-self: center;
    }

    button:hover {
        background-color: $color-3;
    }
}

@media screen and (max-width: 700px) {
    .what {
        flex-direction: column;

        .section-title,
        .section-description {
            width: 100%;
        }

        .section-description .section-paragraphs,
        .section-description .section-subtitle {
            padding: 0 4%;
        }
    }

    .immersive,
    .questions {
        .section-title {
            padding: 0 5%;
        }
    }

    .immersive .section-paragraphs {
        padding: 0 5%;
    }

}

@media screen and (max-width: 600px) {
    .when-where {
        flex-direction: column;

        .row {
            width: 100%;
        }
    }
}

@media screen and (max-width: 450px) {
    .who {
        font-size: .8em;
    }

    .questions {
        .section-title {
            font-size: 1.8em;
        }
    }
}