.TicketsButton {
    background-color: $button-color; 
    border: none;
    padding: .7em;
    border-radius: 5px;
    font-family: $text-font;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.TicketsButton:hover {
    background-color: $button-color--hover;
}