$landing-page-height: 100vh;

$display-font: "Rammetto One";
$text-font: "DM Serif Text";

//HOME PAGE COLORS

$color-1: rgb(7, 1, 94);
$color-2: rgb(9, 0, 135);
$color-3: rgb(38, 28, 172);
$color-4: rgb(104, 95, 225);
$color-5: rgb(188, 183, 247);
$color-6: white;

$button-color: $color-4;