header {
    display: flex;
    height: 8.25vh;
    min-height: 80px;
    width: 100%;
    position: absolute;
}

header, footer {
    z-index: 10;
}

header a {
    display: flex;
    padding-left: 1.5vw;
    padding-top: 1vh;
}

header .logo {
    display: inline-flex;
}