@import 'home';
@import 'layout';

body {
    margin: 0px;
}

.document {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

.page {
    flex: 2;
}

.background {
    z-index: 1;
}

.foreground {
    z-index: 9;
}